{% assign skillsets = site.data.data.skillsets %}
{% if skillsets %}
<section class="section experiences-section skillsets-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Skills
  </h2>

  {% for skill in skillsets %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ skill.title }}</h3>
      </div><!--//upper-row-->
    </div><!--//meta-->

    {% if skill.details %}
    <div class="details">
      {{ skill.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

